/*
|--------------------------------------------------------------------------
| Data Scrool
|--------------------------------------------------------------------------
*/


.data-scroll{
    width: 80%;
    right: 0;
    position: absolute;
}