/*
|--------------------------------------------------------------------------
| Screen
|--------------------------------------------------------------------------
*/

.screen{
    height: 100vh;
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}